@tailwind base;
@tailwind components;
@tailwind utilities;

  ::-webkit-scrollbar {
    width: 0.2rem;
    height: 0.2rem;
  }
  
::-webkit-scrollbar-track {
    --bg-opacity: 1;
    background-color: #bcb2a0;
  }
  
::-webkit-scrollbar-thumb {
    --bg-opacity: 1;
    background-color: #64638b;
  }

  